<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT employee ANY>
<!ATTLIST employee id ID #REQUIRED>
]>
<root id="-1">
  <employee id="1056" key="1fa09c15-8003-4a99-ad07-c734bace8181" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-10-24T14:06:09" updateDate="2019-10-24T14:08:09" nodeName="Wade" urlName="wade" path="-1,1056" isDoc="" nodeType="1055" creatorName="wade" writerName="wade" writerID="0" template="0" nodeTypeAlias="employee" isPublished="true">
    <employeeName><![CDATA[Wade]]></employeeName>
    <employeeAdress><![CDATA[Helsingborg]]></employeeAdress>
    <employeePhone><![CDATA[07644455512]]></employeePhone>
  </employee>
</root>