<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT employee ANY>
<!ATTLIST employee id ID #REQUIRED>
<!ELEMENT companyDetails ANY>
<!ATTLIST companyDetails id ID #REQUIRED>
<!ELEMENT corporateHeadquarters ANY>
<!ATTLIST corporateHeadquarters id ID #REQUIRED>
<!ELEMENT company ANY>
<!ATTLIST company id ID #REQUIRED>
<!ELEMENT companyLand ANY>
<!ATTLIST companyLand id ID #REQUIRED>
<!ELEMENT department ANY>
<!ATTLIST department id ID #REQUIRED>
]>
<root id="-1">
  <corporateHeadquarters id="1066" key="01bbaacd-a2d7-40cf-b1ec-9cff3b11ac57" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-10-26T23:23:03" updateDate="2019-10-31T10:52:03" nodeName="Corporate Headquarters" urlName="corporate-headquarters" path="-1,1066" isDoc="" nodeType="1063" creatorName="wade" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="corporateHeadquarters" isPublished="true">
    <companyName><![CDATA[ECCorporate Headquarters]]></companyName>
    <companyPhone><![CDATA[04255566612]]></companyPhone>
    <companyAddress><![CDATA[Helsingborg södrastenbocksgatan 50]]></companyAddress>
    <companyLand id="1077" key="1e779c21-2ca8-4cf4-ae1e-bc3b58273f11" parentID="1066" level="2" creatorID="1" sortOrder="0" createDate="2019-10-28T10:44:11" updateDate="2019-10-31T10:58:00" nodeName="Sweden" urlName="sweden" path="-1,1066,1077" isDoc="" nodeType="1069" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="companyLand" isPublished="true">
      <landName><![CDATA[Sweden]]></landName>
      <department id="1086" key="a1b3e179-5a9a-4e31-8ecf-b58a6e44cd3c" parentID="1077" level="3" creatorID="1" sortOrder="0" createDate="2019-10-28T11:32:38" updateDate="2019-10-31T10:56:13" nodeName="Human Resource" urlName="human-resource" path="-1,1066,1077,1086" isDoc="" nodeType="1083" creatorName="Joakim" writerName="wade" writerID="0" template="1082" nodeTypeAlias="department" isPublished="true">
        <adress><![CDATA[Malmö]]></adress>
        <phoneNumber><![CDATA[6546545231]]></phoneNumber>
        <departmentName><![CDATA[Human Resource]]></departmentName>
        <employee id="1087" key="8886dbf6-4c45-4a6b-a19d-5bdf1a8812ba" parentID="1086" level="4" creatorID="1" sortOrder="0" createDate="2019-10-28T11:33:23" updateDate="2019-10-31T11:06:22" nodeName="Joakim Persson" urlName="joakim-persson" path="-1,1066,1077,1086,1087" isDoc="" nodeType="1055" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="employee" isPublished="true">
          <companyNumber><![CDATA[20]]></companyNumber>
          <firstName><![CDATA[Joakim]]></firstName>
          <employeeAdress><![CDATA[Skolgatan 17]]></employeeAdress>
          <department><![CDATA[Human Resource]]></department>
          <phonenumber><![CDATA[525252525]]></phonenumber>
          <email><![CDATA[joakim@test.com]]></email>
          <lastName><![CDATA[Persson]]></lastName>
        </employee>
        <employee id="1088" key="f9128a56-79fc-409b-9cfa-f1cc619bbfdc" parentID="1086" level="4" creatorID="1" sortOrder="1" createDate="2019-10-28T11:38:35" updateDate="2019-10-31T11:07:13" nodeName="John Doe" urlName="john-doe" path="-1,1066,1077,1086,1088" isDoc="" nodeType="1055" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="employee" isPublished="true">
          <companyNumber><![CDATA[11]]></companyNumber>
          <firstName><![CDATA[John]]></firstName>
          <employeeAdress><![CDATA[Bakgatan 6]]></employeeAdress>
          <department><![CDATA[Human Resource]]></department>
          <phonenumber><![CDATA[52252525]]></phonenumber>
          <email><![CDATA[John@test.com]]></email>
          <lastName><![CDATA[Doe]]></lastName>
        </employee>
        <employee id="1093" key="3213f6a4-a06b-4a41-b5c1-ed305575ec98" parentID="1086" level="4" creatorID="2" sortOrder="2" createDate="2019-10-28T12:13:46" updateDate="2019-10-31T11:08:00" nodeName="Lars" urlName="lars" path="-1,1066,1077,1086,1093" isDoc="" nodeType="1055" creatorName="Lars" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="employee" isPublished="true">
          <companyNumber><![CDATA[20]]></companyNumber>
          <firstName><![CDATA[Lars]]></firstName>
          <employeeAdress><![CDATA[LocalHostgatan 1]]></employeeAdress>
          <department><![CDATA[Human Resource]]></department>
          <phonenumber><![CDATA[5252525]]></phonenumber>
          <email><![CDATA[Lars@test.com]]></email>
          <lastName><![CDATA[Bylund]]></lastName>
        </employee>
      </department>
      <department id="1089" key="ace99705-d65f-4557-8977-bb262b78cb0e" parentID="1077" level="3" creatorID="1" sortOrder="1" createDate="2019-10-28T12:11:18" updateDate="2019-10-31T10:55:02" nodeName="Accounting" urlName="accounting" path="-1,1066,1077,1089" isDoc="" nodeType="1083" creatorName="Joakim" writerName="wade" writerID="0" template="1082" nodeTypeAlias="department" isPublished="true">
        <adress><![CDATA[Helsingborg]]></adress>
        <phoneNumber><![CDATA[56465465465]]></phoneNumber>
        <departmentName><![CDATA[Accounting]]></departmentName>
        <employee id="1090" key="8e5fa200-1582-48e7-9ba7-02137bf627e8" parentID="1089" level="4" creatorID="1" sortOrder="0" createDate="2019-10-28T12:11:55" updateDate="2019-10-31T11:09:38" nodeName="Jane Doe" urlName="jane-doe" path="-1,1066,1077,1089,1090" isDoc="" nodeType="1055" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="employee" isPublished="true">
          <companyNumber><![CDATA[02]]></companyNumber>
          <firstName><![CDATA[Jane]]></firstName>
          <employeeAdress><![CDATA[Gata nr 3]]></employeeAdress>
          <department><![CDATA[Accounting]]></department>
          <phonenumber><![CDATA[52525252]]></phonenumber>
          <email><![CDATA[Jane@test.com]]></email>
          <lastName><![CDATA[Doe]]></lastName>
        </employee>
        <employee id="1091" key="f05664ae-a044-4f0e-9104-bf69dc254c1c" parentID="1089" level="4" creatorID="1" sortOrder="1" createDate="2019-10-28T12:12:26" updateDate="2019-10-31T11:11:58" nodeName="Janne Doe" urlName="janne-doe" path="-1,1066,1077,1089,1091" isDoc="" nodeType="1055" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="employee" isPublished="true">
          <companyNumber><![CDATA[45]]></companyNumber>
          <firstName><![CDATA[Janne]]></firstName>
          <employeeAdress><![CDATA[Gata nr 4]]></employeeAdress>
          <department><![CDATA[Accounting]]></department>
          <phonenumber><![CDATA[52525252]]></phonenumber>
          <email><![CDATA[Janne@test.com]]></email>
          <lastName><![CDATA[Doe]]></lastName>
        </employee>
      </department>
    </companyLand>
    <companyLand id="1085" key="ab98cb84-faa7-46f1-a91c-ca5d4d42625d" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2019-10-28T11:03:38" updateDate="2019-10-28T11:03:38" nodeName="Denmark" urlName="denmark" path="-1,1066,1085" isDoc="" nodeType="1069" creatorName="wade" writerName="wade" writerID="0" template="1051" nodeTypeAlias="companyLand" isPublished="true">
      <landName><![CDATA[Denmark]]></landName>
      <location><![CDATA[Copenhagen]]></location>
      <adress><![CDATA[Copenhagen 1]]></adress>
      <phone><![CDATA[123123123123]]></phone>
      <department id="1092" key="271581ce-8a19-4748-8e52-52ed8e5803a0" parentID="1085" level="3" creatorID="1" sortOrder="0" createDate="2019-10-28T12:13:09" updateDate="2019-10-31T11:02:07" nodeName="Pölse Marketing" urlName="poelse-marketing" path="-1,1066,1085,1092" isDoc="" nodeType="1083" creatorName="Joakim" writerName="wade" writerID="0" template="1082" nodeTypeAlias="department" isPublished="true">
        <adress><![CDATA[Copenhagen]]></adress>
        <phoneNumber><![CDATA[5654666455]]></phoneNumber>
        <departmentName><![CDATA[Pölse Marketing]]></departmentName>
        <employee id="1094" key="a7f47f64-1a61-43e4-857e-c8386ddad551" parentID="1092" level="4" creatorID="1" sortOrder="0" createDate="2019-10-28T12:13:49" updateDate="2019-10-31T11:12:53" nodeName="Gösta Doe" urlName="goesta-doe" path="-1,1066,1085,1092,1094" isDoc="" nodeType="1055" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="employee" isPublished="true">
          <companyNumber><![CDATA[445]]></companyNumber>
          <firstName><![CDATA[Gösta]]></firstName>
          <employeeAdress><![CDATA[Gata nr 5]]></employeeAdress>
          <department><![CDATA[Pölse Marketing]]></department>
          <phonenumber><![CDATA[525252525]]></phonenumber>
          <email><![CDATA[Gosta@test.com]]></email>
          <lastName><![CDATA[Doe]]></lastName>
        </employee>
      </department>
    </companyLand>
    <companyLand id="1103" key="29239b54-4586-47c8-9fea-a60a76665031" parentID="1066" level="2" creatorID="1" sortOrder="2" createDate="2019-10-31T10:44:43" updateDate="2019-10-31T10:44:43" nodeName="Norway" urlName="norway" path="-1,1066,1103" isDoc="" nodeType="1069" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="companyLand" isPublished="true">
      <landName><![CDATA[Norway]]></landName>
      <department id="1104" key="b7f112e5-8f21-4585-8c9d-72535db8f419" parentID="1103" level="3" creatorID="1" sortOrder="0" createDate="2019-10-31T10:45:35" updateDate="2019-10-31T11:15:15" nodeName="Accounting" urlName="accounting" path="-1,1066,1103,1104" isDoc="" nodeType="1083" creatorName="Joakim" writerName="Joakim" writerID="1" template="1082" nodeTypeAlias="department" isPublished="true">
        <adress><![CDATA[Fjordvägen 4]]></adress>
        <phoneNumber><![CDATA[023658424]]></phoneNumber>
        <departmentName><![CDATA[Accounting]]></departmentName>
        <employee id="1106" key="32b133f2-5229-46b9-873f-ac451d48c8fe" parentID="1104" level="4" creatorID="1" sortOrder="1" createDate="2019-10-31T10:48:28" updateDate="2019-10-31T11:13:22" nodeName="Johan Doe" urlName="johan-doe" path="-1,1066,1103,1104,1106" isDoc="" nodeType="1055" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="employee" isPublished="true">
          <companyNumber><![CDATA[10]]></companyNumber>
          <firstName><![CDATA[Johan]]></firstName>
          <employeeAdress><![CDATA[Fjordvägen 12]]></employeeAdress>
          <department><![CDATA[Accounting]]></department>
          <phonenumber><![CDATA[122134
453453]]></phonenumber>
          <email><![CDATA[test@test.com]]></email>
          <lastName><![CDATA[Doe]]></lastName>
        </employee>
        <employee id="1107" key="421e4fdc-b73d-4369-bac2-47667babf8b9" parentID="1104" level="4" creatorID="1" sortOrder="2" createDate="2019-10-31T10:49:47" updateDate="2019-10-31T11:13:42" nodeName="Klas Stennäve" urlName="klas-stennaeve" path="-1,1066,1103,1104,1107" isDoc="" nodeType="1055" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="employee" isPublished="true">
          <companyNumber><![CDATA[11]]></companyNumber>
          <firstName><![CDATA[Klas]]></firstName>
          <employeeAdress><![CDATA[bakgatan 4]]></employeeAdress>
          <department><![CDATA[Accounting]]></department>
          <phonenumber><![CDATA[545854]]></phonenumber>
          <email><![CDATA[test@test.com]]></email>
          <lastName><![CDATA[Stennäve]]></lastName>
        </employee>
      </department>
    </companyLand>
  </corporateHeadquarters>
</root>