<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT employee ANY>
<!ATTLIST employee id ID #REQUIRED>
<!ELEMENT companyDetails ANY>
<!ATTLIST companyDetails id ID #REQUIRED>
<!ELEMENT corporateHeadquarters ANY>
<!ATTLIST corporateHeadquarters id ID #REQUIRED>
<!ELEMENT company ANY>
<!ATTLIST company id ID #REQUIRED>
<!ELEMENT companyLand ANY>
<!ATTLIST companyLand id ID #REQUIRED>
<!ELEMENT department ANY>
<!ATTLIST department id ID #REQUIRED>
]>
<root id="-1">
  <corporateHeadquarters id="1066" key="01bbaacd-a2d7-40cf-b1ec-9cff3b11ac57" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-10-26T23:23:03" updateDate="2019-10-28T10:30:00" nodeName="Corporate Headquarters" urlName="corporate-headquarters" path="-1,1066" isDoc="" nodeType="1063" creatorName="wade" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="corporateHeadquarters" isPublished="true">
    <companyName><![CDATA[ECCorporate Headquarters]]></companyName>
    <companyPhone><![CDATA[04255566612]]></companyPhone>
    <companyAddress><![CDATA[Helsingborg södrastenbocksgatan 50]]></companyAddress>
    <companyLand id="1077" key="1e779c21-2ca8-4cf4-ae1e-bc3b58273f11" parentID="1066" level="2" creatorID="1" sortOrder="0" createDate="2019-10-28T10:44:11" updateDate="2019-10-28T10:44:11" nodeName="Sweden" urlName="sweden" path="-1,1066,1077" isDoc="" nodeType="1069" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="companyLand" isPublished="true">
      <landName><![CDATA[Sweden]]></landName>
      <location><![CDATA[Skåne Sweden]]></location>
      <adress><![CDATA[Helsingborg gata 1]]></adress>
      <phone><![CDATA[070 777 777 77]]></phone>
      <department id="1086" key="a1b3e179-5a9a-4e31-8ecf-b58a6e44cd3c" parentID="1077" level="3" creatorID="1" sortOrder="0" createDate="2019-10-28T11:32:38" updateDate="2019-10-28T11:32:38" nodeName="Human Resource" urlName="human-resource" path="-1,1066,1077,1086" isDoc="" nodeType="1083" creatorName="Joakim" writerName="Joakim" writerID="1" template="1082" nodeTypeAlias="department" isPublished="true">
        <employee id="1087" key="8886dbf6-4c45-4a6b-a19d-5bdf1a8812ba" parentID="1086" level="4" creatorID="1" sortOrder="0" createDate="2019-10-28T11:33:23" updateDate="2019-10-28T11:33:23" nodeName="Joakim Persson" urlName="joakim-persson" path="-1,1066,1077,1086,1087" isDoc="" nodeType="1055" creatorName="Joakim" writerName="Joakim" writerID="1" template="1051" nodeTypeAlias="employee" isPublished="true">
          <employeeName><![CDATA[Joakim Persson]]></employeeName>
          <employeeAdress><![CDATA[Skolgatan 17]]></employeeAdress>
          <employeePhone><![CDATA[070555555556]]></employeePhone>
        </employee>
      </department>
    </companyLand>
    <companyLand id="1085" key="ab98cb84-faa7-46f1-a91c-ca5d4d42625d" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2019-10-28T11:03:38" updateDate="2019-10-28T11:03:38" nodeName="Denmark" urlName="denmark" path="-1,1066,1085" isDoc="" nodeType="1069" creatorName="wade" writerName="wade" writerID="0" template="1051" nodeTypeAlias="companyLand" isPublished="true">
      <landName><![CDATA[Denmark]]></landName>
      <location><![CDATA[Copenhagen]]></location>
      <adress><![CDATA[Copenhagen 1]]></adress>
      <phone><![CDATA[123123123123]]></phone>
    </companyLand>
  </corporateHeadquarters>
</root>